.imagen {
  width: 400px;
  height: 430px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 8px solid #01C880;
}

.card-container-wrapper {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  flex: 0 0 100px;
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 50px 50px 50px;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s;
  margin-right: 10px;

}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.4);


}

.cardtext {
  font-size: 25px;
  padding: 15px;
  color: #5c5c5c;
}

h2 {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 350px;
  height: 350px;
  margin-bottom: 5px;
}

.btn {
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  height: 35px;
  width: 100px;
}

.btn:hover {
  background: linear-gradient(to bottom, #5c5c5c, #01C880);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 35px;
  width: 100px;
}


h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 100px;
}

p {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 100px;
}

.Ofrecemos {
  position: relative;
  width: 100%;
  height: 1000px;
  /* Ajusta la altura según sea necesario */
  overflow: hidden;
}

.imgxd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.backofr {
  background-image: url("images/bck2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 145vh;
}

.mapas {
  background-image: url("images/bck1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  width: 100%;
  height: 150vh;

}

.content {
  background-image: url("images/bck1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 190vh;

}



h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-section {
  display: block;
  align-items: center;
  text-align: center;
  height: 400px;
  padding: 50px;
}

.contact-section h1 {
  font-size: 32pt;
  font-family: Arial;
  margin: 0;
  padding: 0;
  line-height: 32pt;
  color: #303030;
}

.contact-section p {
  margin: 20px;
  color: #303030;
  align-items: center;
}

.contact-section input[type="text"] {
  width: 500px;
  height: 32px;
  border: 2px solid #555;
  border-radius: 50px;
  padding: 15px 10px;
  margin: 15px;
  display: block;
  align-items: center;
  text-align: center;
  margin: 15px auto;
}


.contact-section button[type="submit"] {
  width: 150px;
  height: 40px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 15px 10px;
}

.botonesimagenes {
  color: white;
  padding: 20px 75px;
  border-radius: 25px;
  border-color: white;
  text-decoration: none;
}

.columna1 {
  margin-right: 150px;
  margin-bottom: 300px;

}

.txtmapas {
  font: size 50px;
  color: white;
  text-align: left;
  margin-bottom: 40px;
}

a.btn1banner {
  background-color: #01C880;
  color: white;
  padding: 7px 50px;
  border-radius: 25px;
  border-color: white;
  border: 2px solid white;
  text-decoration: none;
}

a.btn2banner {
  background-color: #01C880;
  color: white;
  font-size: 12px;
  padding: 7px 50px;
  border-radius: 25px;
  border-color: white;
  border: 2px solid white;
  text-decoration: none;
  margin-left: 30px;
}

a.btn1banner,
a:hover {
  margin-left: 30px;
  background-color: #01C880;
  color: white;
  padding: 7px 50px;
  border-radius: 25px;
  border-color: white;
  text-decoration: none;
}
